body {
	color: #1d4d4f;
	font-family: Courier;
	background-color: #e5dfdf;
}
.container {
	width: 800px;     
	margin: 30px auto;
}

@media (max-width: 900px){ 
 	.container {
		width: 750px;
	}
}

@media (max-width: 800px){ 
 	.container {
		width: 650px;
	}
}

@media (max-width: 700px){ 
 	.container {
		width: 550px;
	}
}

@media (max-width: 600px){ 
 	.container {
		width: 450px;
	}
}

.card-white { 
	background: white; 
	padding: 60px 50px; 
	border-radius: 3px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	margin: 20px 0px;
	text-align: center;
}

-----------------------------------------------------

h1 {
	color: #6ba8a9;
	font-family: 'Zhi Mang Xing', cursive;
	font-weight: normal;
	letter-spacing: 6px;
	font-size: 50px;
}	
	
h2 {
	color: #357376;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 20px;
}

#profile {
	justify-content: center;
  	width: 200px;
		height: 200px;
		border-radius: 50%;	
}	
#introduction p {
	margin-bottom: 40px;
}

.btn-blue {
	background-color: #6ba8a9;
	color:  white;
	font-family: 'Barlow Semi Condensed', sans-serif;
	letter-spacing: 2px;
	padding: 12px 20px;
	border-radius: 3px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.btn-blue:hover {
	background-color: #357376;
	color:  white;
}
-----------------------------------------------------

.list-inline {
	list-style: none;
	padding-left: 0px;
	text-decoration: none;
}

.list-inline li {
	display: inline;
	padding: 0px 10px;
	padding-left: 0px;
}

.list-inline a {
	text-decoration: none;
}

.list-inline i {
	font-size: 40px;
	color: rgba(107, 168, 169,0.5);
	transition: color 0.3s ease;
}

.list-inline i:hover {
  color: #357376;
}